body {
	margin: 20px;
  font: 16px Helvetica, Sans-Serif; 
  line-height: 24px; 
  background-image: url(); 
  background-color: #cccccc;
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
}

.card {
  display: inline-block;
  margin: 3px;
  width: 100px;
}
.hold {
  border: 2px solid 
}