body {
<<<<<<< HEAD
  margin: 25px;
  font: 24px Helvetica, Sans-Serif; 
  line-height: 24px; 
  background-image: url(); 
  background-color: white;
  background-repeat: repeat-x;
  background-size: 100%;
  background-position: center;
  text-color: black;
=======
	margin: 20px;
  font: 16px Helvetica, Sans-Serif; 
  line-height: 24px; 
  background-image: url(); 
  background-color: #cccccc;
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
>>>>>>> master
}

.card {
  display: inline-block;
  margin: 3px;
  width: 100px;
}
<<<<<<< HEAD
div {
  margin: auto;
  text-color: black;

=======
.hold {
  border: 2px solid lawngreen;
  border-width: 5px;
>>>>>>> master
}